<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-top: 120px;">
  <div class="btn-danger" *ngIf="message">{{message}}</div>
    <h1>Login Form</h1>
    <a routerLink="/register">not a member yet register here</a>
    <form>
        <div class="container">
        <div class="form-group">
          <label for="exampleInputEmail1">USERNAME</label>
          <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" [(ngModel)]="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">PASSWORD</label>
          <input name="password" type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="doLogin()">Log In</button>
    </div>
      </form>
    </div>
</body>
</html>
